body {
  background-image: -webkit-linear-gradient(left, #10f4ea, #fdfcfb);
   /* For Chrome and Safari */
background-image:    -moz-linear-gradient(left, #10f4ea, #fdfcfb);
 /* For old Fx (3.6 to 15) */
background-image:     -ms-linear-gradient(left, #10f4ea, #fdfcfb);
/* For pre-releases of IE 10*/
background-image:      -o-linear-gradient(left, #10f4ea, #fdfcfb);
/* For old Opera (11.1 to 12.0) */
background-image:         linear-gradient(to right, #10f4ea, #fdfcfb);
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

p, ol, ul{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

tr{
  border-color: turquoise;
  border-width: thin;
}


.container{
  background:rgba(0,0,0,0.5);
  border-radius: 20px;
  color: white;
  padding: 20px 20px 20px 20px;
  text-align: center;

}
.new_info{
  background:rgba(255,255,255,0.75);
  border-radius: 20px;
  color: black;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

#posts_board{
  align-content: center;
}

#postings{
  background-color: white;
  display: block;
  color: grey;
  border-radius: 20px;
  display: flex-block;
  justify-content: center;
  border-bottom: 3px;
  border-color: grey;
}

#slothy{
  padding: auto;
  justify-content: center;
   -webkit-transition: opacity 10s ease-in;
   -moz-transition: opacity 10s ease-in;
   -o-transition: opacity 10s ease-in;
   -ms-transition: opacity 10s ease-in;
   transition: opacity 10s ease-in;
}
