body {
  background: linear-gradient(285deg, #50f0da, #f6faf9);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 39s ease infinite;
  -moz-animation: AnimationName 39s ease infinite;
  animation: AnimationName 39s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 96%}
      50%{background-position:100% 5%}
      100%{background-position:0% 96%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 96%}
      50%{background-position:100% 5%}
      100%{background-position:0% 96%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 96%}
      50%{background-position:100% 5%}
      100%{background-position:0% 96%}
  }
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;

}

p, ol, ul{
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: turquoise;
  border-bottom-style: solid;
  max-width: 700px;
  min-width: 100px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

#individual_posts{

  border-color: turquoise;
  border-bottom-style: medium;

}


.container{
  background:rgba(0,0,0,0.5);
  border-radius: 20px;
  color: white;
  padding: 20px 20px 20px 20px;
  text-align: center;
  width: auto;
  max-width: 1100px;




}
.new_info{
  background:rgba(255,255,255,0.75);
  border-radius: 20px;
  color: black;
  padding: 20px 20px 20px 20px;
  text-align: center;
  width: auto;
}

#posts_board{
  align-content: center;

}

#postings{
  background-color: white;
  display: block;
  color: grey;
  border-radius: 20px;
  display: flex-block;
  justify-content: center;
  border-bottom: 3px;
  border-color: grey;
  padding: 10px;
}

.mod {
  padding: 10px;
  max-width: 40px;
}

#slothy{
  padding: auto;
  justify-content: center;
   -webkit-transition: opacity 10s ease-in;
   -moz-transition: opacity 10s ease-in;
   -o-transition: opacity 10s ease-in;
   -ms-transition: opacity 10s ease-in;
   transition: opacity 10s ease-in;
}


//////////////////////////////////////////////
